{% if block.text %}
	<section class="body-section container-{{ block.sectionWidth ? : 'wide' }}">
		<div class="prose-block content-column-main">
			{% include "_partials/_retcon/experience-text" with {
				text: block.text
			} only %}
		</div>
	</section>
{% endif %}
