{% extends "_layouts/base.twig" %}
{% import "_macros" as macros %}

{% set typeParam = craft.app.request.getQueryParam("type") %}
{% set phaseParam = craft.app.request.getQueryParam("phase") %}
{% set themeParam = craft.app.request.getQueryParam("theme") %}
{% set placeParam = craft.app.request.getQueryParam("place") %}

{% block title %}
	Experiences - {{ siteName }}
{% endblock %}

{% block content %}
	{% include "_modules/page-header" with {
		title: "Stories from residents involved in urban regeneration projects",
		text: "People experiences",
		imageHeight: "full",
		caption: "Experiences",
		sectionWidth: "wide"
	} only %}
	{% include "_modules/experience-filters" with {
		typeParam: typeParam,
		phaseParam: phaseParam,
		themeParam: themeParam,
		placeParam: placeParam
	} only %}
	<section>
		{% set experiencesQuery = craft.entries().section("experiences").with(["featuredImage", "place", "themes"]) %}

		{% if typeParam %}
			{% set experiencesQuery = experiencesQuery.experienceType(typeParam) %}
		{% endif %}

		{% if phaseParam %}
			{% set experiencesQuery = experiencesQuery.participationPhase(phaseParam) %}
		{% endif %}

		{% if themeParam %}
			{% set experiencesQuery =
				experiencesQuery.relatedTo({
					targetElement: craft.entries().section("themes").slug(themeParam)
				})
			%}
		{% endif %}

		{% if placeParam %}
			{% set experiencesQuery =
				experiencesQuery.relatedTo({
					targetElement: craft.entries().section("places").slug(placeParam)
				})
			%}
		{% endif %}

		{% set experiences = experiencesQuery.orderBy("dateOfExperience DESC").all() %}

		<div
			class="container-full flex flex-col gap-8 bg-accent/10 p-2 md:p-4 lg:grid lg:grid-cols-2 2xl:p-8 dark:bg-accent/5"
		>
			{% if experiences|length %}
				{% for experience in experiences %}
					{% include "_partials/entry/experience-card" with {
						experience: experience
					} only %}
				{% endfor %}
			{% else %}
				<p class="text-gray-600">
					No experiences yet.
				</p>
			{% endif %}
		</div>
	</section>
{% endblock %}
