columnSuffix: null
handle: altText
instructions: 'Describe the image for screen readers (required)'
name: 'Alt Text'
searchable: true
settings:
  byteLimit: null
  charLimit: null
  code: false
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
