{% extends "_layouts/base.twig" %}

{% block title %}
	{{ siteName }} - {{ siteInfo.siteTagline }}
{% endblock %}

{% block content %}
	{# Hero Section #}
	{% set homepage = craft.entries().section("homepage").with(["featuredImage"]).one() %}
	{% if homepage %}
		{% include "_modules/page-header" with {
			title: homepage.heroTitle,
			text: homepage.heroText,
			image: homepage.featuredImage.one(),
			imageHeight: homepage.imageHeight,
			caption: homepage.featuredImageCaption,
			sectionWidth: homepage.sectionWidth
		} only %}
	{% endif %}

	{# About Section #}
	<section class="container-wide my-12 md:my-12">
		<div
			class="flex flex-col content-center gap-y-3 lg:max-w-3/4 xl:grid xl:max-w-[75vw] xl:grid-cols-[2fr_3fr] xl:content-center xl:items-end xl:gap-x-4 xl:gap-y-5"
		>
			<h2 class="mb-0 text-xl/4 font-light md:text-2xl/5">
				{{ homepage.aboutSectionTitle|striptags("<strong><em>")|raw }}
			</h2>
			<div class="col-2 mb-0 text-base/3 font-light md:text-lg/4">
				{{ homepage.aboutSectionText|striptags("<strong><em><p>")|raw }}
			</div>
			<hr class="w-full border-0 border-b border-gray-200 md:col-span-2 dark:border-gray-700" />
			{% include "_modules/button-text" with {
				url: url("about"),
				label: "Learn more about our method",
				additionalClasses: "md:col-1"
			} only %}
		</div>
	</section>

	<section>
		<div class="container-wide">
			<h3 class="text-lg font-light md:text-2xl">Recent Experiences</h3>
		</div>
		{% set featured =
			craft.entries().section("experiences").with(
				[
					"featuredImage",
					"place",
					"themes",
					[
						"peopleInvolved",
						{
							with: ["involvedPersonPhoto"]
						}
					]
				]
			).orderBy(
				"dateOfExperience DESC"
			).limit(
				4
			).all()
		%}
		<div
			class="container-full flex flex-col gap-8 bg-accent/10 p-2 md:p-4 lg:grid lg:grid-cols-2 2xl:p-8 dark:bg-accent/5"
		>
			{% for experience in featured %}
				{% include "_partials/entry/experience-card" with {
					experience: experience
				} only %}
			{% endfor %}
		</div>
		<div class="container-wide">
			{% include "_modules/button-text" with {
				url: url("experiences"),
				label: "View all experiences",
				additionalClasses: "m-2"
			} only %}
		</div>
	</section>
{% endblock %}
