{% extends "_layouts/base.twig" %}
{% import "_macros" as macros %}
{% block title %}
	{{ entry.title }} - Themes - {{ siteName }}
{% endblock %}

{% block content %}
	{% include "_modules/page-header" with {
		title: entry.title,
		text: entry.text,
		imageHeight: "full",
		caption: "Experiences",
		sectionWidth: "wide"
	} only %}

	<section data-reveal-group>
		{% set experiences =
			craft.entries().section("experiences").relatedTo(entry).with(["featuredImage", "place"]).orderBy(
				"dateOfExperience DESC"
			).all()
		%}

		<div class="container-wide" data-reveal-item>
			<h2 class="text-lg font-light md:text-2xl">
				There are <strong>{{ experiences|length }}</strong> experiences with this theme
			</h2>
		</div>
		<div
			class="container-full flex flex-col gap-8 bg-accent/10 p-2 md:p-4 lg:grid lg:grid-cols-2 2xl:p-8 dark:bg-accent/5"
			data-reveal-item
		>
			{% if experiences|length %}
				{% for experience in experiences %}
					{% include "_partials/entry/experience-card" with {
						experience: experience,
						headingLevel: "h3"
					} only %}
				{% endfor %}
			{% else %}
				<p class="text-gray-600">
					No experiences yet.
				</p>
			{% endif %}
		</div>
	</section>
{% endblock %}
