{% extends "_layouts/base.twig" %}
{% set page = craft.entries().section("placesIndex").one() %}
{% block title %}
	{{ page.title }} - {{ siteName }}
{% endblock %}

{% block content %}
	{% include "_modules/page-header" with {
		title: page.heroTitle,
		text: page.heroText,
		imageHeight: "full",
		caption: "Places",
		sectionWidth: "wide"
	} only %}
	<section class="mb-8">
		{% set places = craft.entries().section("places").all() %}

		<div class="container-wide grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{% for place in places %}
				{% include "_partials/entry/taxonomy-card" with {
					entry: place
				} only %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
